<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align: center; background-color: orange; font-size: 45px;">
        <b>LakeInn - Hotel</b>
    </div>
    <div>
        <pre>
            Hi Sir/Madam 
                Here is the link to change your password!
                Click <a href="@ViewBag.ConfirmLink">Here</a>
        </pre>
    </div>
</body>
</html>
