@model PagedList.IPagedList<LakeInn.Models.DataModels.Article>
@using PagedList.Mvc
@{
    ViewBag.Title = "Galery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/gallery-grid.css" rel="stylesheet" />
@Html.Partial("../Partial/_PageTitle")
<!-- image show -->
<div class="image-show">
    <div class="image-item">
        <img src="">
    </div>
</div>
<!-- end image show -->
<!-- gallery-grid -->
<div class="gallery-grid container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 item">
                        <div class="image">
                            <img src="@item.Image" class="bg-replace">
                        </div>
                        <div class="info-layer">
                            <div class="zoom layer-item">
                                <i class="fas fa-search"></i>
                            </div>
                            <div class="detail layer-item">
                                <a href="@Url.Action("DetailArticle","Home", new {id = item.Id })"><i class="fas fa-link"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row">
                <div class="col-12 pagination">
                    @Html.PagedListPager(Model, page => Url.Action("Galery", new { page }), new PagedListRenderOptions
                    {
                       DisplayLinkToIndividualPages = true,
                       DisplayPageCountAndCurrentLocation = false,
                       MaximumPageNumbersToDisplay = 10,
                       LiElementClasses = new string[] { "page-block" },
                   })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end gallery-grid -->
@section scripts{
    <script src="~/Scripts/js/gallery-grid.js"></script>
}