USE [LakeInn]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Article]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
	[Comment_Article_Id] [int] NULL,
	[CateId] [int] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ArtTags]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArtTags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Art_Id] [int] NOT NULL,
	[ListTag] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ArtTags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Banner]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banner](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Banner] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BedType]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BedType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeBed] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.BedType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Book]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Identity] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CID] [datetime] NOT NULL,
	[COD] [datetime] NOT NULL,
	[Qadult] [int] NOT NULL,
	[Qchild] [int] NOT NULL,
	[IdTypeRoom] [int] NOT NULL,
	[Qroom] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CateName] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
	[Article_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comment_Article]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment_Article](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
	[Article_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Comment_Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Contact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Room]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[MaxGuests] [int] NOT NULL,
	[RoomTId] [int] NOT NULL,
	[BedTId] [int] NOT NULL,
	[RoomFace] [nvarchar](max) NOT NULL,
	[Wifi] [bit] NOT NULL,
	[Breakfast] [bit] NOT NULL,
	[RoomService] [bit] NOT NULL,
	[AirportPickup] [bit] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Room] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomType]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.RoomType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Slides]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Slides](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Slides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tags]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](max) NOT NULL,
	[Slug] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Team]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Position] [nvarchar](max) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 11/18/2021 3:18:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
	[Avatar] [nvarchar](max) NULL,
	[Status] [bit] NOT NULL,
	[Date_Created] [datetime] NOT NULL,
	[Date_Updated] [datetime] NOT NULL,
	[Forgot] [bit] NOT NULL DEFAULT ((0)),
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF
SET IDENTITY_INSERT [dbo].[ArtTags] ON 

INSERT [dbo].[ArtTags] ([Id], [Art_Id], [ListTag]) VALUES (2, 2, N'2,4')
INSERT [dbo].[ArtTags] ([Id], [Art_Id], [ListTag]) VALUES (3, 1, N'2,3,5')
SET IDENTITY_INSERT [dbo].[ArtTags] OFF
SET IDENTITY_INSERT [dbo].[Banner] ON 

INSERT [dbo].[Banner] ([Id], [Title], [Content], [Image], [Status]) VALUES (1, N'Feel yourself at home', N'Book today and get 7% discount', N'/Areas/Administrator/Data/Images/booking-big-image.jpg', 1)
INSERT [dbo].[Banner] ([Id], [Title], [Content], [Image], [Status]) VALUES (2, N'The perfect romantic escape', N'A wedding you will remember forever', N'/Areas/Administrator/Data/Images/introduce2.jpg', 1)
INSERT [dbo].[Banner] ([Id], [Title], [Content], [Image], [Status]) VALUES (3, N'1', N'1', N'/Areas/Administrator/Data/Images/greeting-img1.jpg', 1)
SET IDENTITY_INSERT [dbo].[Banner] OFF
SET IDENTITY_INSERT [dbo].[BedType] ON 

INSERT [dbo].[BedType] ([Id], [TypeBed], [Description], [Status], [Date_Created], [Date_Updated]) VALUES (7, N'Double/Full', N'This size is larger than a twin bed but smaller than a queen. While some people think a double and full bed are different, they have the same measurements. A full bed measures 53 inches wide by 75 inches long, which is about 4 1/2 feet by 6 1/4 feet.', 1, CAST(N'2021-11-15 08:24:33.347' AS DateTime), CAST(N'2021-11-15 08:24:33.347' AS DateTime))
INSERT [dbo].[BedType] ([Id], [TypeBed], [Description], [Status], [Date_Created], [Date_Updated]) VALUES (8, N'Queen', N'A queen is in the middle when it comes to beds in hotels. This type measures 60 inches side to side by 80 inches up and down, which comes to 5 feet horizontally and 8 2/3 feet vertically.', 1, CAST(N'2021-11-15 08:24:48.883' AS DateTime), CAST(N'2021-11-15 08:24:48.883' AS DateTime))
INSERT [dbo].[BedType] ([Id], [TypeBed], [Description], [Status], [Date_Created], [Date_Updated]) VALUES (9, N'King', N'A king is usually the biggest bed you''ll find at a hotel. A king is the same length as a queen — 80 inches — but is 76 inches wide.', 1, CAST(N'2021-11-15 08:26:43.610' AS DateTime), CAST(N'2021-11-15 08:26:43.610' AS DateTime))
SET IDENTITY_INSERT [dbo].[BedType] OFF
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Id], [Name], [Email], [Phone], [Identity], [Address], [CID], [COD], [Qadult], [Qchild], [IdTypeRoom], [Qroom], [Note], [Status], [Date_Created], [Date_Updated]) VALUES (1, N'John Hala', N'hala@gmail.com', N'012345679', N'123456789987', N'Hanoi', CAST(N'2021-11-21 00:00:00.000' AS DateTime), CAST(N'2021-11-25 00:00:00.000' AS DateTime), 2, 3, 4, 2, NULL, 0, CAST(N'2021-11-16 11:15:44.373' AS DateTime), CAST(N'2021-11-16 11:15:44.373' AS DateTime))
SET IDENTITY_INSERT [dbo].[Book] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [CateName], [Status], [Date_Created], [Date_Updated], [Article_Id]) VALUES (2, N'New', 1, CAST(N'2021-11-15 14:53:36.147' AS DateTime), CAST(N'2021-11-15 14:53:36.147' AS DateTime), NULL)
INSERT [dbo].[Category] ([Id], [CateName], [Status], [Date_Created], [Date_Updated], [Article_Id]) VALUES (3, N'Classic', 1, CAST(N'2021-11-15 14:53:50.493' AS DateTime), CAST(N'2021-11-15 14:53:50.493' AS DateTime), NULL)
INSERT [dbo].[Category] ([Id], [CateName], [Status], [Date_Created], [Date_Updated], [Article_Id]) VALUES (4, N'Blog', 1, CAST(N'2021-11-15 14:54:13.660' AS DateTime), CAST(N'2021-11-15 15:02:58.243' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Comment_Article] ON 

INSERT [dbo].[Comment_Article] ([Id], [Name], [Email], [Comment], [Status], [Date_Created], [Date_Updated], [Article_Id]) VALUES (2, N'Nguyễn Mạnh Mod ', N'mod@gmail.com', N'This blog very good!', 1, CAST(N'2021-11-18 09:07:49.307' AS DateTime), CAST(N'2021-11-18 10:39:31.370' AS DateTime), 2)
INSERT [dbo].[Comment_Article] ([Id], [Name], [Email], [Comment], [Status], [Date_Created], [Date_Updated], [Article_Id]) VALUES (4, N'Ðinh Công Tráng', N'as@gmail.com', N'as', 1, CAST(N'2021-11-18 10:38:32.317' AS DateTime), CAST(N'2021-11-18 10:55:28.757' AS DateTime), 2)
INSERT [dbo].[Comment_Article] ([Id], [Name], [Email], [Comment], [Status], [Date_Created], [Date_Updated], [Article_Id]) VALUES (5, N'Phạm Văn Mách', N'mach@gmail.co', N'This is great!', 1, CAST(N'2021-11-18 11:32:54.770' AS DateTime), CAST(N'2021-11-18 11:33:16.797' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Comment_Article] OFF
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([Id], [Name], [Email], [Message], [Status], [Date_Created], [Date_Updated]) VALUES (1, N'Phạm Văn Test1', N'test2@gmail.com', N'abc', 0, CAST(N'2021-11-17 14:14:38.693' AS DateTime), CAST(N'2021-11-17 14:14:38.693' AS DateTime))
INSERT [dbo].[Contact] ([Id], [Name], [Email], [Message], [Status], [Date_Created], [Date_Updated]) VALUES (2, N'Phạm Văn Test2', N'a@g', N'123', 0, CAST(N'2021-11-17 14:15:45.947' AS DateTime), CAST(N'2021-11-17 14:15:45.947' AS DateTime))
INSERT [dbo].[Contact] ([Id], [Name], [Email], [Message], [Status], [Date_Created], [Date_Updated]) VALUES (3, N'Phạm Văn Test2', N'test2@gmail.com', N'abc', 0, CAST(N'2021-11-17 14:23:56.247' AS DateTime), CAST(N'2021-11-17 14:23:56.247' AS DateTime))
SET IDENTITY_INSERT [dbo].[Contact] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[RoomType] ON 

INSERT [dbo].[RoomType] ([Id], [TypeName], [Description], [Status], [Date_Created], [Date_Updated]) VALUES (1, N'Single room', N'these rooms are assigned to one person or a couple. It may have one or more beds, but the size of the bed depends on the hotel. Some single rooms have a twin bed, most will have a double, few will have a queen bed.', 1, CAST(N'2021-11-15 08:27:20.207' AS DateTime), CAST(N'2021-11-15 08:27:20.207' AS DateTime))
INSERT [dbo].[RoomType] ([Id], [TypeName], [Description], [Status], [Date_Created], [Date_Updated]) VALUES (2, N'Double room', N'double rooms are assigned to two people; expect one double bed, or two twin beds depending on the hotel.', 1, CAST(N'2021-11-15 08:27:32.167' AS DateTime), CAST(N'2021-11-15 08:27:32.167' AS DateTime))
INSERT [dbo].[RoomType] ([Id], [TypeName], [Description], [Status], [Date_Created], [Date_Updated]) VALUES (3, N'Triple room', N'as the name might suggest, this room is equipped for three people to stay. The room will have a combination of either three twin beds, one double bed and a twin, or two double beds.', 1, CAST(N'2021-11-15 08:27:44.487' AS DateTime), CAST(N'2021-11-15 08:27:44.487' AS DateTime))
SET IDENTITY_INSERT [dbo].[RoomType] OFF
SET IDENTITY_INSERT [dbo].[Slides] ON 

INSERT [dbo].[Slides] ([Id], [Title], [Content], [Image], [Status]) VALUES (1, N'Come and Relax', N'a paradise for sense, vacation for souls', N'/Areas/Administrator/Data/Images/banner-img1.jpg', 1)
INSERT [dbo].[Slides] ([Id], [Title], [Content], [Image], [Status]) VALUES (2, N'Celebrate your Love', N'arrange the wedding to remember forever', N'/Areas/Administrator/Data/Images/banner-img2.jpg', 1)
INSERT [dbo].[Slides] ([Id], [Title], [Content], [Image], [Status]) VALUES (3, N'Feast for your Taste', N'enjoy our perfect homemade dishes and BBQ', N'/Areas/Administrator/Data/Images/banner-img3.jpg', 0)
SET IDENTITY_INSERT [dbo].[Slides] OFF
SET IDENTITY_INSERT [dbo].[Tags] ON 

INSERT [dbo].[Tags] ([Id], [TagName], [Slug], [Status], [Date_Created], [Date_Updated]) VALUES (1, N'Asia', N'asia', 1, CAST(N'2021-11-15 08:30:38.547' AS DateTime), CAST(N'2021-11-15 08:30:38.547' AS DateTime))
INSERT [dbo].[Tags] ([Id], [TagName], [Slug], [Status], [Date_Created], [Date_Updated]) VALUES (2, N'Best deals', N'best deals', 1, CAST(N'2021-11-15 08:30:44.167' AS DateTime), CAST(N'2021-11-15 08:30:44.167' AS DateTime))
INSERT [dbo].[Tags] ([Id], [TagName], [Slug], [Status], [Date_Created], [Date_Updated]) VALUES (3, N'Cheap Hotels', N'cheap hotels', 1, CAST(N'2021-11-15 08:30:49.720' AS DateTime), CAST(N'2021-11-15 08:30:49.720' AS DateTime))
SET IDENTITY_INSERT [dbo].[Tags] OFF
SET IDENTITY_INSERT [dbo].[Team] ON 

SET IDENTITY_INSERT [dbo].[Team] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FullName], [Email], [Password], [Phone], [Avatar], [Status], [Date_Created], [Date_Updated], [Forgot]) VALUES (1, N'Alex Sandrea', N'duyetbk.nh@gmail.com', N'69-EF-58-AA-31-C2-D3-2E-7A-51-D3-95-92-53-FE-E7', N'0987654321', N'/Areas/Administrator/TempLTE/dist/img/avatar.png', 1, CAST(N'2021-11-16 00:00:00.000' AS DateTime), CAST(N'2021-11-17 14:56:00.937' AS DateTime), 1)
INSERT [dbo].[User] ([Id], [FullName], [Email], [Password], [Phone], [Avatar], [Status], [Date_Created], [Date_Updated], [Forgot]) VALUES (2, N'Đinh Công Tráng', N'test@gmail.com', N'69-EF-58-AA-31-C2-D3-2E-7A-51-D3-95-92-53-FE-E7', N'', N'/Areas/Administrator/TempLTE/dist/img/avatar.png', 0, CAST(N'2021-11-17 08:46:17.703' AS DateTime), CAST(N'2021-11-17 08:46:17.703' AS DateTime), 1)
INSERT [dbo].[User] ([Id], [FullName], [Email], [Password], [Phone], [Avatar], [Status], [Date_Created], [Date_Updated], [Forgot]) VALUES (3, N'Mary Roxine', N'abc@gmail.com', N'69-EF-58-AA-31-C2-D3-2E-7A-51-D3-95-92-53-FE-E7', N'1231231233', N'/Areas/Administrator/TempLTE/dist/img/avatar.png', 1, CAST(N'2021-11-17 10:55:37.477' AS DateTime), CAST(N'2021-11-17 10:55:37.477' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
ALTER TABLE [dbo].[Article]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Article_dbo.Comment_Article_Comment_Article_Id] FOREIGN KEY([Comment_Article_Id])
REFERENCES [dbo].[Comment_Article] ([Id])
GO
ALTER TABLE [dbo].[Article] CHECK CONSTRAINT [FK_dbo.Article_dbo.Comment_Article_Comment_Article_Id]
GO
ALTER TABLE [dbo].[ArtTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ArtTags_dbo.Article_Art_Id] FOREIGN KEY([Art_Id])
REFERENCES [dbo].[Article] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArtTags] CHECK CONSTRAINT [FK_dbo.ArtTags_dbo.Article_Art_Id]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Book_dbo.RoomType_IdTypeRoom] FOREIGN KEY([IdTypeRoom])
REFERENCES [dbo].[RoomType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_dbo.Book_dbo.RoomType_IdTypeRoom]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Category_dbo.Article_Article_Id] FOREIGN KEY([Article_Id])
REFERENCES [dbo].[Article] ([Id])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_dbo.Category_dbo.Article_Article_Id]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Room_dbo.BedType_BedTId] FOREIGN KEY([BedTId])
REFERENCES [dbo].[BedType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_dbo.Room_dbo.BedType_BedTId]
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Room_dbo.RoomType_RoomTId] FOREIGN KEY([RoomTId])
REFERENCES [dbo].[RoomType] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Room] CHECK CONSTRAINT [FK_dbo.Room_dbo.RoomType_RoomTId]
GO
