<div class="page-title container-fluid">
    <div class="container" style="position: relative;">
        <p class="title">@ViewContext.Controller.ViewBag.TitleSmall</p>
        <p class="page-tree">
            <span class="home"><a href="@Url.Action("Index")">Home</a></span>
            <span><i class="fa fa-angle-right"></i></span>
            <span>@ViewContext.Controller.ViewBag.TitleSmall</span>
        </p>
    </div>
</div>
<!-- end page title -->